

/* Style for the main container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the heading */
.h2p {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #b011e9;
  cursor: pointer;
}

/* Style for the tables */
.tbl {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tbl th,
.tbl td {
  padding: 12px;
  text-align: center;
}

.tbl th {
  background-color: #007bff;
  color: #fff;
}



/* Style for paragraphs */
p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #e0d8e2a3;
}

/* Style for links */
a {
  color: #cc00ff;
  text-decoration: none;
  align-items: center;
  margin-left: 40%;
}

a:hover {
  text-decoration: underline;
}

/* Center align elements */
.center {
  text-align: center;
}